---
layout: default

author: iaco

pre-title: ARTICLES
title: "🗂️ Articles"
description: "My collection of evidence-based and practical solutions to help us build a fulfilling life, enjoy!"

links-home:
  - title: ""
    icon: fab fa-youtube
    url: "/youtube"
    newtab: true
    show-home: true
    show-side: false
  - title: ""
    icon: fab fa-instagram
    url: "/instagram"
    newtab: true
    show-home: true
    show-side: false
  - title: ""
    icon: fa fa-paper-plane
    url: "#newsletter"
    newtab: false
    show-home: true
    show-side: false

links-gallery:
  - url: /youtube
    newtab: true
    title: SUBSCRIBE<br>Check my YouTube channel
    image: assets/media/logos/youtube.jpg
  - url: /instagram
    newtab: true
    title: FOLLOW<br>Find me on Instagram
    image: assets/media/logos/instagram.jpg

links-footer: true
---

{% include pagination %}
